
@{
    Layout = null;
}
<div class="row">
    <div class="col-12 text-center mb-2"
                     <a href="/">
                         <img src="~/Content/img/LogoMC.png" style="height: 70px" />
                     </a>
                <div class="col-12 text-center" id="ThongTinFooter">
                    <p style="margin-bottom: 0;color: #ffffff;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                        <h5 style="color: #ffffff;" class="boxed-content-title"> +84 3453 7777</h5>
                    </div>
    </div>
    <div class="owl-item active" style="width: 500px;">
        <div class="col-12">
            <h4 style="color: #ffffff;">CÁC CHI NHÁNH CỬA HÀNG</h4>
            <div>
                <p>
                    <i class style=" background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> 06 TRẦN VĂN ƠN, PHÚ HÒA, THỦ DẦU MỘT, BÌNH DƯƠNG
                </p>
                <p>
                    <i class style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> 123 NGUYỄN TRÃI, PHƯỜNG 1, TP.CÀ MAU
                </p>
                <p>
                    <i class style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> 741 ĐƯỜNG 30/4, VĨNH HÒA, PHÚ GIÁO, BÌNH DƯƠNG
                </p>
                <p>
                    <i class style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> 222 THÍCH QUẢNG ĐỨC, PHƯỜNG 6, QUẬN 12, TP.HCM
                </p>
            </div>
        </div>
    </div>
    <div class="owl-item active" style="width:300px;">
        <div class="col-12">
            <h4 style="color: #ffffff;">SỐ ĐIỆN THOẠI LIÊN HỆ</h4>
            <ul>
                <p>+84 3856 77777</p>
                <p>+84 9475 54321</p>
                <p>+84 9254 22233</p>
                <p>+84 3642 12345</p>
            </ul>
        </div>
    </div>
    <div class="owl-item active" style="width:200px;">
        <div class="col-12">
            <h4 style="color: #ffffff;">LỊCH HÔM NAY</h4>
            <ul>
                <div class="calendar">
                    <script language="javascript">
                        monthnames = new Array("January", "Februrary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                        var linkcount = 0;

                        function addlink(month, day, href) {
                            var entry = new Array(3);
                            entry[0] = month;
                            entry[1] = day;
                            entry[2] = href;
                            this[linkcount++] = entry;
                        }
                        Array.prototype.addlink = addlink;
                        linkdays = new Array();
                        monthdays = new Array(12);
                        monthdays[0] = 31;
                        monthdays[1] = 28;
                        monthdays[2] = 31;
                        monthdays[3] = 30;
                        monthdays[4] = 31;
                        monthdays[5] = 30;
                        monthdays[6] = 31;
                        monthdays[7] = 31;
                        monthdays[8] = 30;
                        monthdays[9] = 31;
                        monthdays[10] = 30;
                        monthdays[11] = 31;
                        todayDate = new Date();
                        thisday = todayDate.getDay();
                        thismonth = todayDate.getMonth();
                        thisdate = todayDate.getDate();
                        thisyear = todayDate.getYear();
                        thisyear = thisyear % 100;
                        thisyear = ((thisyear < 50) ? (2000 + thisyear) : (1900 + thisyear));
                        if (((thisyear % 4 == 0) && !(thisyear % 100 == 0)) || (thisyear % 400 == 0)) monthdays[1]++;
                        startspaces = thisdate;
                        while (startspaces > 7) startspaces -= 7;
                        startspaces = thisday - startspaces + 1;
                        if (startspaces < 0) startspaces += 7;

                        document.write("<table border='1'>");
                        document.write("<tr><td colspan=7 class='monthyear'>" + monthnames[thismonth] + " " + thisyear + "</td></tr>");
                        document.write("<tr class='weektitle'>");
                        document.write("<td align= center>Sun</td>");
                        document.write("<td align= center>Mon</td>");
                        document.write("<td align= center>Tus</td>");
                        document.write("<td align= center>Wed</td>");
                        document.write("<td align= center>Thu</td>");
                        document.write("<td align= center>Fri</td>");
                        document.write("<td align= center>Sat</td>");
                        document.write("</tr>");
                        document.write("<tr>");
                        for (s = 0; s < startspaces; s++) {
                            document.write("<td> </td>");
                        }
                        count = 1;
                        while (count <= monthdays[thismonth]) {
                            for (b = startspaces; b < 7; b++) {
                                linktrue = false;
                                document.write("<td class='weekday'>");
                                for (c = 0; c < linkdays.length; c++) {
                                    if (linkdays[c] != null) {
                                        if ((linkdays[c][0] == thismonth + 1) && (linkdays[c][1] == count)) {
                                            document.write("<a href=\"" + linkdays[c][2] + "\">");
                                            linktrue = true;
                                        }
                                    }
                                }
                                if (count == thisdate) {
                                    document.write("<font color='FF0000'><strong>");
                                }
                                if (count <= monthdays[thismonth]) {
                                    document.write(count);
                                }
                                else {
                                    document.write(" ");
                                }
                                if (count == thisdate) {
                                    document.write("</strong></font>");
                                }
                                if (linktrue)
                                    document.write("</a>");
                                document.write("</td>");
                                count++;
                            }
                            document.write("</tr>");
                            document.write("<tr>");
                            startspaces = 0;
                        }
                        document.write("</table>");

                    </script>
                </div>
            </ul>
        </div>
    </div>

</div>