
.icon-search:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-right-big:before { content: '\e808'; } /* '' */
.icon-left-big:before { content: '\e809'; } /* '' */
.icon-up-big:before { content: '\e80a'; } /* '' */
.icon-down-big:before { content: '\e80b'; } /* '' */
.icon-comment:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-camera-alt:before { content: '\e80e'; } /* '' */
.icon-truck:before { content: '\e80f'; } /* '' */
.icon-chart-bar:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-trash-1:before { content: '\e813'; } /* '' */
.icon-trash-empty:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-pencil-1:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e817'; } /* '' */
.icon-note:before { content: '\e818'; } /* '' */
.icon-home:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e81a'; } /* '' */
.icon-right-fat:before { content: '\e81b'; } /* '' */
.icon-left-fat:before { content: '\e81c'; } /* '' */
.icon-home-1:before { content: '\e81d'; } /* '' */
.icon-home-circled:before { content: '\e81e'; } /* '' */
.icon-attach:before { content: '\e81f'; } /* '' */
.icon-heart-empty-1:before { content: '\e820'; } /* '' */
.icon-heart-circled:before { content: '\e821'; } /* '' */
.icon-heart-1:before { content: '\e822'; } /* '' */
.icon-bookmark-empty:before { content: '\e823'; } /* '' */
.icon-tags:before { content: '\e824'; } /* '' */
.icon-flag:before { content: '\e825'; } /* '' */
.icon-eye:before { content: '\e826'; } /* '' */
.icon-bag:before { content: '\e827'; } /* '' */
.icon-basket-1:before { content: '\e828'; } /* '' */
.icon-scissors:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-eye-1:before { content: '\e82b'; } /* '' */
.icon-ok:before { content: '\e82c'; } /* '' */
.icon-check:before { content: '\e82d'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-newspaper-1:before { content: '\f1ea'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */
